# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.codex

SPECS.md
AGENTS.md
BUILD_AND_VALIDATE.md
INVARIANTS.md
PARAMETERS.md
PROCESS.md
DEPLOYMENT_PLAN.md
